@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: cereal;
    src: url('../../public/fonts/AirbnbCereal_W_Lt.otf');
    font-weight: 300;
}
@font-face {
    font-family: cereal;
    src: url('../../public/fonts/AirbnbCereal_W_Bd.otf');
    font-weight: 700;
}
@font-face {
    font-family: cereal;
    src: url('../../public/fonts/AirbnbCereal_W_Md.otf');
    font-weight: 500;
}
body, html{
    font-family: cereal;
}
html {
    scroll-behavior: smooth;
  }
.slick-dots{
    bottom: 10px;
    margin-left: -10px;
}
.slick-dots li.slick-active button:before{
    color: #fff;
}
.slick-dots li{
    width: 0;
}
.slick-dots li button:before{
    color: #fff;
    font-size: 6px;
}

.notifybadge{
    border: 1px solid rgb(221, 221, 221); 
    border-radius: 12px; 
    padding: 24px; 
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
}
.content p{
    color: #4b4b4b;
    font-weight: 400;
    margin-bottom: 1.2rem;
}

.leaflet-control-zoom.leaflet-bar.leaflet-control{
    display: flex !important;
}

.box-shadow{
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);;
}

.box-shadow-2{
    padding: 30px 25px;
    border: 1px solid rgba(0, 0, 0, 0.02);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
}

.rdrMonth{
    width: 100% !important;
}

@media (max-width: 768px) {
    .leaflet-container {
        height: 50vh !important;
    }
}

.leaflet-bar, .leaflet-control{
    display: none !important;
}